##  In this example we are going to use the 
#### - OpenAI Model for query generation 
#### - GEMINI for answer generation

In [1]:
#imports 
import os 
import re
import time
import pandas as pd 
import streamlit as st 
from langchain.sql_database import SQLDatabase
from openai import OpenAI
from sqlalchemy import create_engine, text
import google.generativeai as genai

c:\Users\admin\UpForce\Company Projects\UniversalChatBot\venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
#Environment variables
#Openai api key
os.environ['OPENAI_API_KEY'] = os.getenv('OPENAI_API_KEY')
#GEMINI api key
os.environ['GOOGLE_API_KEY'] = os.getenv('GOOGLE_API_KEY')

In [3]:
# Database connection
db_user = "postgres" #Add your database creditional
db_password = "Password" #Add your database creditional
db_host = "localhost" #Add your database creditional
db_name = "schoolDB" #Add your database creditional
db_port = 5432 #Add your database creditional
SQLALCHEMY_DATABASE_URL = f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
db = SQLDatabase.from_uri(SQLALCHEMY_DATABASE_URL)

In [4]:
#database
db_name = "postgresql"

In [5]:
# Model initialization
# OpenAI Model
client = OpenAI()
#GEMINI Model
gemini_model = genai.GenerativeModel('gemini-pro')

In [6]:
#table information
table_info = """
        -> The database contains the following tables:

    1. Students: Contains information about students
        - StudentID: Unique identifier for the student
        - FirstName: First name of the student
        - LastName: Last name of the student
        - DateOfBirth: Student's birthdate
        - Grade: The grade or class the student is in
        - Email: Student's email address
        - Address: Home address of the student

    2. Teachers: Contains information about teachers
        - TeacherID: Unique identifier for the teacher
        - FirstName: First name of the teacher
        - LastName: Last name of the teacher
        - Email: Teacher's email address
        - Specialty: The subject or area the teacher specializes in
        - PhoneNumber: Teacher's contact number

    3. Courses: Contains information about courses offered
        - CourseID: Unique identifier for the course
        - CourseName: Name of the course
        - Description: A brief description of the course content
        - TeacherID: The identifier for the teacher responsible for the course

    4. Enrollments: Tracks student enrollments in courses
        - EnrollmentID: Unique identifier for the enrollment record
        - StudentID: Identifier for the student
        - CourseID: Identifier for the course
        - EnrollmentDate: The date when the student enrolled in the course
        - Grade: The grade received by the student in the course

    5. Classrooms: Contains information about classrooms
        - ClassroomID: Unique identifier for the classroom
        - ClassroomName: Name or number of the classroom
        - Location: The physical location of the classroom
        - Capacity: How many individuals the classroom can accommodate

    6. Schedule: Organizes when and where courses take place
        - ScheduleID: Unique identifier for the schedule entry
        - CourseID: Identifier for the course
        - ClassroomID: Identifier for the classroom where the course is held
        - StartTime: When the course begins
        - EndTime: When the course ends
        - DaysOfWeek: Which days of the week the course is held on
"""

In [7]:
# Define the prompt to be passed to the model
prompt = f"""
    -> If the input is a greeting, respond appropriately with a greeting message, return only greeting message for any greeting input.\n
    -> Do not provide any query for update and deletion related tasks.
    -> You are an expert in translating English questions into detailed SQL queries for {db_name} database. Your task is to create a robust SQL query based on the user input using given table information.
    -> If the user question is not suitable for a SQL query, then respond appropriately as per the question.
    -> Ensure the use of single quotes ('') throughout the query, excluding double quotes. Use three backticks (```) at the beginning and end of the query, do not use \\n in the query.
    -> always limit the query to retrieve information for only 10 datapoints each time.\n
    -> For date-related operations, use the 'EXTRACT' function.\n
    -> The database contains the following tables; focus on the relevant table for the given information. Use the following information to form the query:\n
    
    {table_info}
"""

In [8]:
#Content of system role for query generator using OpenAI
query_generator_task = f"You are an expert in translating English questions into detailed SQL queries for {db_name} database. Your task is to create a robust {db_name} query based on the given table informations. If the question is not suitable for a SQL query, return none."

In [9]:
#Content of system role for answer generator using OpenAI
answer_generator_task = "You're tasked with generating an expert answer based on the provided data. Your goal is to craft a comprehensive response derived exclusively from the given information. Ensure that your answer is thorough and directly relates to the provided data. If requires then present data in tabular format."

In [10]:
# input Prompt Generator using User Input
def generate_prompt(question, prompt):
    pt = f"""
        **User Question:**
        {question}
        **Additional Information:**
        {prompt}
    """
    return pt

In [11]:
#OpenAI Model initialization
def openai_model(full_query,task):
    messages=[
        {"role": "system",
        "content":task},
        {"role": "user",
        "content":full_query},
        ]
    
    response = client.chat.completions.create(
            model="gpt-3.5-turbo-0125",
            messages=messages,
            temperature=0,
            max_tokens=1500
        )
    return response

In [12]:
# This function retrieves a SQL query from the model output.
def get_query(output):
    
    # Define a regular expression pattern to find the SQL query enclosed between ```sql and ```
    pattern = re.compile(r"```sql\n(.*?)\n```", re.DOTALL)

    # Search for the pattern in the output string
    match = pattern.search(output)

    # Check if a match is found
    if match:
        # Extract the SQL query
        sql_query = f'{match.group(1).strip()}'
        return sql_query
    else:
        # Inform if no query is found
        print('Query is not found.')

In [13]:
# This function fetches data from the database using a specified SQL query.
def get_data(query):
    # Create a database engine
    engine = create_engine(SQLALCHEMY_DATABASE_URL)

    try:
        # Use a context manager to handle connections and transactions automatically
        with engine.connect() as connection:
            # Convert the query into a format suitable for execution
            query = text(query)

            # Execute the query
            result = connection.execute(query)

            # Fetch all the rows returned by the query
            rows = result.fetchall()
            return rows

    except Exception as e:
        # Print an error message if an exception occurs
        print(f"Error: {e}")

In [14]:
# This function generates a final prompt for an expert answer generator based on the provided inputs.
def generate_final_prompt(question, sql, data, tables):
    final_prompt_template = f"""
        ==> You are an expert answer generator. Your task is to form a comprehensive answer from the given data.\n
        ==> If the data is not available, provide an answer that the data is not available in your language.\n
        ==> If the user input is greeting then greet the user.\n
        ==> Do not return any SQL query or any irrelevant data.\n
        ==> You do not have permission to Delete or Update any table, if user ask to do it reply approprietly that you do not have permission to update database.\n
        **User Question:**
        {question}

        **SQL Query:**
        {sql}

        **Table information:**
        {tables}

        **Data:**
        {data}

    Note: 
        ==> Your task is to generate an appropriate answer based on the given question using the provided data. Consider the SQL Query as a reference.\n
        ==> All commam seperated data should be presented in tabular format only 
        ==> If you are unable to find a relevant answer, please state that there is insufficient data available.\n

        ### Please craft a well-formed response.
    """
    return final_prompt_template

In [15]:
# This function extracts text content from a response object, specifically designed for GEMINI model output.
def get_text_content(response):
    """
    Extract text content from a response object.
    Parameters:
    - response: The response object containing text content.
    Returns:
    - text_content: Extracted text content.
    """
    if len(response.parts) == 1 and "text" in response.parts[0]:
        # Access the text content if it's a simple text response
        text_content = response.parts[0].text
    else:
        # Handle the case where the response is not a simple text
        # Loop through parts and concatenate text from each part
        text_content = ""
        for part in response.parts:
            if "text" in part:
                text_content += part.text

    return text_content

In [16]:
# This function calculates the cost based on custom tokens for input and completion.

def cost_counter(query_output, answer_output):
    # Initialize variables to store the number of tokens for completion and prompt
    query_completion_tokens = 0
    query_prompt_tokens = 0
    answer_completion_tokens = 0
    answer_prompt_tokens = 0

    # Check if query output is available and assign the number of tokens accordingly
    if query_output:
        query_completion_tokens = query_output.completion_tokens
        query_prompt_tokens = query_output.prompt_tokens
    
    # Check if answer output is available and assign the number of tokens accordingly
    if answer_output:
        answer_completion_tokens = answer_output.completion_tokens
        answer_prompt_tokens = answer_output.prompt_tokens

    # Define the cost per token for input and completion based on model
    input_cost_per_token = 0.0005           #Change this cost as per model cost 
    completion_cost_per_token = 0.0015      #Change this cost as per model cost 

    # Calculate the total number of tokens for input and completion
    total_input_tokens = query_prompt_tokens + answer_prompt_tokens
    total_completion_tokens = query_completion_tokens + answer_completion_tokens

    # Calculate the total cost for input and completion tokens
    total_input_cost = ((total_input_tokens / 1000) * input_cost_per_token)
    total_completion_cost = ((total_completion_tokens / 1000) * completion_cost_per_token)

    # Calculate the total cost by summing input and completion costs
    total_cost = total_input_cost + total_completion_cost

    return total_cost

# OpenAI Model for query generation

In [28]:
#user input
user_query = "List down 5 students"
user_query

'List down 5 students'

In [29]:
#Generating prompt to create the sql query 
full_query = generate_prompt(question=user_query,prompt=prompt)
print(full_query)

        **User Question:**
        List down 5 students
        **Additional Information:**

    -> If the input is a greeting, respond appropriately with a greeting message, return only greeting message for any greeting input.

    -> Do not provide any query for update and deletion related tasks.
    -> You are an expert in translating English questions into detailed SQL queries for postgresql database. Your task is to create a robust SQL query based on the user input using given table information.
    -> If the user question is not suitable for a SQL query, then respond appropriately as per the question.
    -> Ensure the use of single quotes ('') throughout the query, excluding double quotes. Use three backticks (```) at the beginning and end of the query, do not use \n in the query.
    -> always limit the query to retrieve information for only 10 datapoints each time.

    -> For date-related operations, use the 'EXTRACT' function.

    -> The database contains the following tables; focus on the relevant table for the given information. Use the following information to form the query:



        -> The database contains the following tables:

    1. Students: Contains information about students
        - StudentID: Unique identifier for the student
        - FirstName: First name of the student
        - LastName: Last name of the student
        - DateOfBirth: Student's birthdate
        - Grade: The grade or class the student is in
        - Email: Student's email address
        - Address: Home address of the student

    2. Teachers: Contains information about teachers
        - TeacherID: Unique identifier for the teacher
        - FirstName: First name of the teacher
        - LastName: Last name of the teacher
        - Email: Teacher's email address
        - Specialty: The subject or area the teacher specializes in
        - PhoneNumber: Teacher's contact number

    3. Courses: Contains information about courses offered
        - CourseID: Unique identifier for the course
        - CourseName: Name of the course
        - Description: A brief description of the course content
        - TeacherID: The identifier for the teacher responsible for the course

    4. Enrollments: Tracks student enrollments in courses
        - EnrollmentID: Unique identifier for the enrollment record
        - StudentID: Identifier for the student
        - CourseID: Identifier for the course
        - EnrollmentDate: The date when the student enrolled in the course
        - Grade: The grade received by the student in the course

    5. Classrooms: Contains information about classrooms
        - ClassroomID: Unique identifier for the classroom
        - ClassroomName: Name or number of the classroom
        - Location: The physical location of the classroom
        - Capacity: How many individuals the classroom can accommodate

    6. Schedule: Organizes when and where courses take place
        - ScheduleID: Unique identifier for the schedule entry
        - CourseID: Identifier for the course
        - ClassroomID: Identifier for the classroom where the course is held
        - StartTime: When the course begins
        - EndTime: When the course ends
        - DaysOfWeek: Which days of the week the course is held on

In [30]:
#Creating sql query
model_response = openai_model(full_query=full_query,task=query_generator_task)
print(model_response)

ChatCompletion(id='chatcmpl-8uedOio80mSgrokzhYzdkhroGav1n', choices=[Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content='```sql\nSELECT * \nFROM Students\nLIMIT 5;\n```', role='assistant', function_call=None, tool_calls=None))], created=1708513258, model='gpt-3.5-turbo-0125', object='chat.completion', system_fingerprint='fp_69829325d0', usage=CompletionUsage(completion_tokens=14, prompt_tokens=732, total_tokens=746))

In [31]:
#response
response = model_response.choices[0].message.content
print(response)

```sql
SELECT *
FROM Students
LIMIT 5;
```

In [32]:
#toke used to generate the query
query_token_details = model_response.usage
print(query_token_details)

CompletionUsage(completion_tokens=14, prompt_tokens=732, total_tokens=746)

In [33]:
#Extracting query from response
real_query = get_query(response)
print(real_query)

SELECT *
FROM Students
LIMIT 5;

### Performing query to databse

In [34]:
# #Query Performer
final_output = get_data(real_query)

## Displaying the data retrieved from database
print(f"data retrieved from query: {final_output}")

data retrieved from query: [(1, 'Daniel', 'Sanchez', datetime.date(2017, 12, 7), 11, 'dariusrosario@evans.com', '7234 Nicole Harbor Suite 558, South Heathermouth, AZ 46122'), (2, 'Anthony', 'Hughes', datetime.date(2013, 4, 15), 3, 'jacobgoodwin@gmail.com', '3230 Christopher Ferry Apt. 766, North Robertmouth, OR 65443'), (3, 'Jody', 'Davidson', datetime.date(2014, 9, 18), 10, 'anthony98@hotmail.com', '791 Williams Ferry, North Andrea, DE 85879'), (4, 'Kathryn', 'Rodriguez', datetime.date(2008, 4, 8), 8, 'kathleen14@jarvis.com', '574 Cynthia Corners Apt. 844, Chandlerton, AL 51213'), (5, 'Paul', 'Miller', datetime.date(2014, 4, 10), 9, 'hooperrichard@yahoo.com', '069 Wells Light, New Angelborough, HI 47908')]

# GEMINI Model for Answer generation

In [35]:
#generating prompt for final answer generation 
full_prompt = generate_final_prompt(question=user_query,sql=real_query,data=final_output,tables=table_info)

print(full_prompt)

        ==> You are an expert answer generator. Your task is to form a comprehensive answer from the given data.

        ==> If the data is not available, provide an answer that the data is not available in your language.

        ==> If the user input is greeting then greet the user.

        ==> Do not return any SQL query or any irrelevant data.

        ==> You do not have permission to Delete or Update any table, if user ask to do it reply approprietly that you do not have permission to update database.

        **User Question:**
        List down 5 students

        **SQL Query:**
        SELECT *
FROM Students
LIMIT 5;

        **Table information:**

        -> The database contains the following tables:

    1. Students: Contains information about students
        - StudentID: Unique identifier for the student
        - FirstName: First name of the student
        - LastName: Last name of the student
        - DateOfBirth: Student's birthdate
        - Grade: The grade or class the student is in
        - Email: Student's email address
        - Address: Home address of the student

    2. Teachers: Contains information about teachers
        - TeacherID: Unique identifier for the teacher
        - FirstName: First name of the teacher
        - LastName: Last name of the teacher
        - Email: Teacher's email address
        - Specialty: The subject or area the teacher specializes in
        - PhoneNumber: Teacher's contact number

    3. Courses: Contains information about courses offered
        - CourseID: Unique identifier for the course
        - CourseName: Name of the course
        - Description: A brief description of the course content
        - TeacherID: The identifier for the teacher responsible for the course

    4. Enrollments: Tracks student enrollments in courses
        - EnrollmentID: Unique identifier for the enrollment record
        - StudentID: Identifier for the student
        - CourseID: Identifier for the course
        - EnrollmentDate: The date when the student enrolled in the course
        - Grade: The grade received by the student in the course

    5. Classrooms: Contains information about classrooms
        - ClassroomID: Unique identifier for the classroom
        - ClassroomName: Name or number of the classroom
        - Location: The physical location of the classroom
        - Capacity: How many individuals the classroom can accommodate

    6. Schedule: Organizes when and where courses take place
        - ScheduleID: Unique identifier for the schedule entry
        - CourseID: Identifier for the course
        - ClassroomID: Identifier for the classroom where the course is held
        - StartTime: When the course begins
        - EndTime: When the course ends
        - DaysOfWeek: Which days of the week the course is held on


        **Data:**
        [(1, 'Daniel', 'Sanchez', datetime.date(2017, 12, 7), 11, 'dariusrosario@evans.com', '7234 Nicole Harbor Suite 558, South Heathermouth, AZ 46122'), (2, 'Anthony', 'Hughes', datetime.date(2013, 4, 15), 3, 'jacobgoodwin@gmail.com', '3230 Christopher Ferry Apt. 766, North Robertmouth, OR 65443'), (3, 'Jody', 'Davidson', datetime.date(2014, 9, 18), 10, 'anthony98@hotmail.com', '791 Williams Ferry, North Andrea, DE 85879'), (4, 'Kathryn', 'Rodriguez', datetime.date(2008, 4, 8), 8, 'kathleen14@jarvis.com', '574 Cynthia Corners Apt. 844, Chandlerton, AL 51213'), (5, 'Paul', 'Miller', datetime.date(2014, 4, 10), 9, 'hooperrichard@yahoo.com', '069 Wells Light, New Angelborough, HI 47908')]

    Note:
        ==> Your task is to generate an appropriate answer based on the given question using the provided data. Consider the SQL Query as a reference.

        ==> All commam seperated data should be presented in tabular format only
        ==> If you are unable to find a relevant answer, please state that there is insufficient data available.


        ### Please craft a well-formed response.

In [36]:
#answer using gemini model
answer = gemini_model.generate_content(full_prompt)
final_answer = get_text_content(answer)
print(final_answer)

| StudentID | FirstName | LastName |
|---|---|---|
| 1 | Daniel | Sanchez |
| 2 | Anthony | Hughes |
| 3 | Jody | Davidson |
| 4 | Kathryn | Rodriguez |
| 5 | Paul | Miller |